/* @override 
	http://127.0.0.1:53472/style.css
	http://dev.memecracy/static/style.css
	http://basa.cl/memecracy/static/style.css
*/

@charset "utf-8";

/* CSS Document */

body {
	margin: 0;
	min-width: 880px;
	padding: 0;
	background-color: rgb(229, 54,64);
	font-family: "Average Sans", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	line-height: 27px;
}

p {
	margin: 0 0 20px 0;
}

h1, h2, h3 {
	font-family: average;
}

img {
	border: 0;
}

#headerContainer {
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 10;
}

#header {
	height: 200px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	text-align: center;
	background: url(i/power-to-the-people.png) no-repeat center bottom;
	
}

#header img {
	display: block;
	margin: 0 auto;
}

#createMeme #header,
#viewMeme #header {
	height: 50px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	text-align: center;
	background: url(i/power-to-the-people.png) no-repeat center top;
	
}

#createMeme #header a img {
	/*float: left;*/
	display: inline-block;
	margin: 0 0 0 20px;
}
#candidatas {
	background: rgb(229, 54,64) url(i/memecracy-candidatas.png) 50% 0 no-repeat;
	/*rgb(229, 54,64)*/
	color: white;
	height: 380px;
	margin: 0 auto;
	position:relative;
    top: 230px;
  
    width: 980px;
	margin: 0 auto;
}

#candidatas .colIzq {
	border: none;
}

#candidatas .colIzq a {
	display: inline-block;
	border-radius:130px;
	width: 260px;
	height: 260px;
	margin: 90px 0 0 180px;
	text-indent: -9999px;
}
#candidatas .colDer a {
	display: inline-block;
	border-radius:130px;
	width: 260px;
	height: 260px;
	margin: 90px 100px 0 5px;
	text-indent: -9999px;
}
#acerca {
	position:relative;
    top: 300px;
	color: white;
	height: 350px;
	margin: 0 auto 200px auto;
	padding: 40px 80px;
	background: rgb(67, 116,176) url(i/memecracy-creditos-terrorista.png) no-repeat center bottom;
}

#acerca ul {
	list-style: none;
	margin: 0 0 10px 20px;
	padding: 0;
}

#acerca ul li {
	margin: 0 0 10px 0;
}

.story {
	width: 870px;
	margin: 0 auto;
}

#acerca a.terroristaLink {
	display: block;
	position: relative;
	bottom: -30px;
	height: 80px;
	width: 300px;
	margin: 0 auto;
	text-indent: -9999px;
}

.colIzq {
	display: inline-block;
	width: 400px;
	border-right: 3px solid #fff;
	margin: 0 0px 0 0;
	padding: 0 35px 0 0;
	height: 270px;
	vertical-align: text-top;
}

.colDer {
	display: inline-block;
	width: 400px;
	height: 200px;
	vertical-align: text-top;
	margin: 0 0 00 10px;
}
#memeCreator {
	background: rgb(229, 54,64) url() 50% 0 no-repeat;
	/*rgb(229, 54,64)*/
	color: white;
	height: 380px;
	margin: 0 auto;
	position:relative;
    top: 230px;
  
    width: 980px;
	margin: 0 auto;
}

#createMeme .container,
#viewMeme .container {
	margin-top: 150px;
}
#memeArea {
/*background-color: rgb(67, 116,176);
padding: 20px 20px 20px 20px;*/
margin-right:10px;
}

#memeControls{
	margin-top: 20px;
}

#memeControls #cands {
    background:url(i/bt.png) no-repeat;
    width: 200px;
    height: 90px;
    border: none;
    padding: 20px 0 40px 0;
    text-indent: -20px;
	text-align: center;
}

#viewMeme div.container div.row div.span7 img {
width: 75%;	
}

input#sharelink {
width: 100%;	
}